<!doctype html>
<html>
<head>
<meta charset="utf-8">
{% if not K %}
<title>Facebook ego network raw data visualization: user {{ userID }}</title>
{% else %}
<title>Facebook ego network community detection results visualization: user {{ userID }}</title>
{% endif %}

<!-- Pull in d3 and dagre-d3 dependencies -->
<link rel="stylesheet" href="/static/demo.css"/>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='dagre-d3.js') }}"></script>

<!-- Pull in JQuery dependencies -->
<link rel="stylesheet" href="/static/tipsy.css"/>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="{{ url_for('static', filename='tipsy.js') }}"></script>

<!-- Pull in latex dependencies -->
<script src="http://latex.codecogs.com/latexit.js"></script>

<!-- Format of the figures -->
<link rel="stylesheet" href="/static/figs.css"/>
</head>

<body>
    {% if not K %}
    <h1>Facebook raw data visualization</h1>
    {% else %}
    <h1>Facebook community detection results visualization</h1>
    {% endif %}
        <h2 id = "summary">Summary of the ego network</h2>
            <p id = "ncircle"></p>
            <p id = "nuser"></p>
            <p id = "nlink"></p>
        <h2 id = "hierarchy">Circle hierarchy</h2>
            <p id = "hierarchy"> </p>
            <p>We claim that circle <span lang="latex">\mathcal{A}</span> is a parent of circle <span lang="latex">\mathcal{B}</span> if <span lang="latex">\mathcal{A}\supsetneq\mathcal{B}</span> and there is no circle <span lang="latex">\mathcal{C}</span> such that <span lang="latex">\mathcal{A}\supsetneq\mathcal{C}\supsetneq\mathcal{B}</span>. The parent-child relationship is presented in the above interactive figure with a directed acyclic graph (DAG) using <a target="_blank" href="https://github.com/cpettitt/dagre-d3/wiki">dagre-d3</a>, where parents and children are represented with source/destination nodes, respectively. The figure can be played with as follows: </p>
            <ol>
                <li>Scroll and drag to zoom in/out and move the figure.</li>
                <li>Place the mouse over each block to see the memeber information of the corresponding circle.</li>
            </ol>
        <h2 id="ego">Ego network</h2>
            <p id = "ego"> </p>
            <p>The above ego network figure are plotted with <a target="_blank" href="http://d3js.org/">d3</a> force directed graph. This figure can be played with as follows:</p>
            <ol>
                <li>Drag any nodes to move the network around.</li>
                <li>Place the mouse over any node to show "&lt;userID&gt;: &lt;circles&gt;"</li>
                <li>Double click any node to toggle its color corresponding to the different circles that own this user.</li>
            </ol>
        {% if not K %}
        <h2 id="execute">Try the community detection algorithm</h2>
            <form action="/execute" method="POST" target="_blank">
                <b>Please specify <i>K</i>:</b>
                <input type="number" name="K">
                <input id="userID" type="hidden" name="userID">
                <input type="submit" value="Submit">
                <br><br>
            </form>
        {% endif %}

<script id="js">

var color = d3.scale.category20(); // Colors for different circles
var width = 960,
    height = 960; // Size of the figures
    
    
{% if not K %}
d3.select("input#userID").property("value", {{ userID }});
//alert({{ userID }});
{% endif %}

/* Plot the circle hierarchy graph */
{% if not K %}
d3.json("{{ url_for('static', filename='%s.hierarchy.json' % userID) }}", function(error, data) {
{% else %}
d3.json("{{ url_for('static', filename='%s_%s.hierarchy.json'%(userID, K)) }}", function(error, data) {
{% endif %} 
    d3.select("p#ncircle").text("Number of unique circles: " + Object.keys(data.vertices).length + ".");
    
    var g = new dagreD3.graphlib.Graph().setGraph({});
    
    // Add the user id to the titles
    {% if not K %}
    d3.select("h1").text("Facebook raw data visualization for User " + data.user);
    {% else %}
    d3.select("h1").text("Facebook community detection results visualization for User " + data.user);
    {% endif %}
    Object.keys(data.vertices).forEach(function(vertex) {
        var value = data.vertices[vertex];
        value.label = "Circle" + vertex;
        value.rx = value.ry = 5;
        g.setNode(vertex, value);
    });
    
    var iEdge = 0
    for (iEdge = 0; iEdge < data.edges.length; iEdge++) {
        g.setEdge(data.edges[iEdge].s, data.edges[iEdge].d, { label: "" });
    }


    // Change the color of each block
    Object.keys(data.vertices).forEach(function(vertex) {
        g.node(vertex).style = "fill: " + color(data.vertices[vertex].group);
    });

    // Create the renderer
    var render = new dagreD3.render();

    // Set up an SVG group so that we can translate the final graph.
    var svg = d3.select("p#hierarchy")
        .append("svg")
            .attr("width", width)
            .attr("height", height);
    inner = svg.append("g");

    // Set up zoom support
    var zoom = d3.behavior.zoom().on("zoom", function() {
        inner.attr("transform", "translate(" + d3.event.translate + ")" + "scale(" + d3.event.scale + ")");
    });
    svg.call(zoom);

    // Simple function to style the tooltip for the given node.
    var styleTooltip = function(name, description) {
        return "<p class='name'>" + "Circle" + name + "</p><p class='description'>" + description + "</p>";
    };

    // Run the renderer. This is what draws the final graph.
    render(inner, g);

    inner.selectAll("g.node")
        .attr("title", function(v) { return styleTooltip(v, g.node(v).description) })
        .each(function(v) { $(this).tipsy({ gravity: "w", opacity: 1, html: true }); });
      
    // Center the graph
    var initialScale = 0.75;
    zoom.translate([(svg.attr("width") - g.graph().width * initialScale) / 2, 20])
        .scale(initialScale)
        .event(svg);
    svg.attr('height', g.graph().height * initialScale + 40);
});

/* Plot the force-dirceted graph for the ego network */
var force = d3.layout.force()
    .charge(-120)
    .linkDistance(30)
    .size([width, height]);

var svg = d3.select("p#ego")
    .append("svg")
        .attr("width", width)
        .attr("height", height);

// Add legend
var legend = svg.append("g")
    .attr("class", "legend")
    .attr("height", 100)
    .attr("width", 100);

var points = [0, 1, 2, 3, 4, 5];
    
legend.selectAll('path')
    .data(points)
    .enter()
    .append("path")
        .attr("transform", function(d, i) { return "translate(" + (width - 100) + "," + (i * 20 + 20) + ")"; })
        .attr("d", d3.svg.symbol()
            .size(8*8)
            .type(function(d, i) { return d3.svg.symbolTypes[i]; }))
        .style("fill", function(d) { 
            return "black";
        });
        
legend.selectAll('text')
    .data(points)
    .enter()
    .append("text")
        .attr("x", width - 80)
        .attr("y", function(d, i){ return i *  20 + 25;})
    .text(function(d, i) {
        var text = "In " + i + " circles ";
        return text;
    });
{% if not K %}
d3.json("{{ url_for('static', filename='%s.ego.json' % userID) }}", function(error, graph) {
{% else %}
d3.json("{{ url_for('static', filename='%s_%s.ego.json' %(userID, K)) }}", function(error, graph) {
{% endif %}
    d3.select("p#nuser").text("Number of users: " + graph.nodes.length + ".");
    d3.select("p#nlink").text("Number of links: " + Object.keys(graph.links).length + ".");
    
    force
        .nodes(graph.nodes)
        .links(graph.links)
        .start();

    var link = svg.selectAll(".link")
        .data(graph.links)
        .enter().append("line")
            .attr("class", "link")
            .style("stroke-width", function(d) { return Math.sqrt(d.value); });
    
    var node = svg.selectAll(".user")
        .data(graph.nodes)
        .enter().append("path")
            .attr("class", "user")
            .attr("d", d3.svg.symbol()
                .size(8*8)
                .type(function(d) { return d3.svg.symbolTypes[d.circles.length]; }))
            .style("fill", function(d) { return color(d.group); })
            .each(function(d) {
                var sel = d3.select(this);
                var groups = d.groups;
                var ncircle = d.circles.length;
                var idx = 0;
                sel.on('dblclick', function() {
                    if (ncircle != 0) {
                        idx = (idx + 1) % ncircle;
                        sel.style('fill', function() { return color(groups[idx]); });
                    }
                });
            })
        .call(force.drag);
      
    node.append("title")
        .text(function(d) { return (String(d.name) + ": " + String(d.circles.join(", "))); });

    force.on("tick", function() {
        link.attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

        node.attr("transform", function(d) {
            return "translate(" + d.x + "," + d.y + ")";
        });
    });
      
});
    
</script>
</body>
</html>

