.metadata
tmp
*~
.project
.texlipse
.Rhistory
.metadata/*
*.project
*.texlipse
*.synctex.gz
*.Rhistory
Reference
images
.Rproj.user
*.tar.gz
*.o
*.so
*.rds
.RData
.cproject
Debug
*.csv
*.zip
*#
*.out
figs
data
*.xml
*.pyc
